@using Dominio;
@model Dominio.Casa
<!--
<p>
    Casas: <br />
    @foreach(Casa unaC in ViewBag.TodasLasCasas)
    {
        <p>@unaC.MtFondo</p>
    }

</p>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}











<p>Ingrese cantidad de metros</p>

<input type="text" />
<input type="submit" value="ingresar" />

